<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <title>Document</title>
</head>

<body>
    <header id="home">
        <nav class="fixed-padding">
            <a href="">
                <h1>logitech</h1>
            </a>

            <div class="nav-son">
                <ul>
                    <li>
                        <a href="#home">home</a>
                    </li>
                    <li>
                        <a href="#about">about</a>
                    </li>
                    <li>
                        <a href="#products">products</a>
                    </li>
                    <li>
                        <a href="#specifciatons">specifciatons</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="fixed-padding">


            <div class="word-container">
                <h1>
                    Forge your <br>fire power
                </h1>

                <p>
                    ALL NEW G604 FOR BATTLE ROYAL MASTERY. FOCUS
                    YOUR SKILL AND OWN EVERY MOMENT OF THE FIGHT
                </p>

                <p class="diffrent">
                    Make your weapons play harder in the configuration you deem fittest. use the 15 programable
                    controls, LIGHTSPEED or
                    Bluetooth® wireless, HERO 16K sesor, and 240 hour battery life to be the fastest gunslider on the
                    battlefield.
                </p>

                <div class="green-btn-container">
                    <a class="green-btn" href="">
                        <button>
                            PLAY ADVANCED
                        </button>
                    </a>
                </div>

                <div class="main-line">
                    <div class="vl">

                    </div>
                    <span>Scroll</span>
                    <div class="short-vl">

                    </div>

                </div>
            </div>

            <div class="img-container">
                <img src="img/00.png" alt="">

                <div class="main-linea">
                    <div class="vla">

                    </div>
                </div>


            </div>
        </main>
    </header>

    <section id="about" class="fixed-padding">
        <div class="img-container2">
            <img src="img/G604-LIGHTSPEED-2019.jpeg_220x220.jpg___2_-removebg-preview.png" alt="">

            <div class="main-line2">
                <div class="vl2">

                </div>
            </div>
        </div>

        <div class="word-container2">
            <h1>MAKE YOU PLAY</h1>
            <p>Your power, your control Conquer MOBA, MIMO and Battle Royal gameplay with the startgecially designed
                C604 LIGHTSPEED wireless, Gaming Mouse, i5 programmable controls join forces with Ultra fast
                LIGHTSPEED dual connecivity and the class-leading
                HERO 16k sensor. it's a multifaceted battle weapon that let you
                play longer,play better,and make your play
            </p>

            <div class="green-btn-container">
                <a class="green-btn" href="">
                    <button style="padding: 15px 100px;"> Buy </button>
                </a>
            </div>
        </div>
    </section>

    <article>
        <div class="center-img">
            <h1>SEE MORE DETAILS</h1>

            <div class="arrows">
                <a href="">
                    <i class="fa-regular fa-arrow-right" style="float: right;"></i>
                </a>
                <a href="">
                    <i class="fa-sharp fa-arrow-left"></i>
                </a>
            </div>
        </div>




    </article>

    <section id="products" class="fixed-padding">
        <div class="title2">
            <h1>PRODUCT</h1>
        </div>

        <div class="products-container">
            <div class="img-container3">
                <div class="img1">
                    <img src="img/00.png" alt="">
                </div>

                <div class="img2">
                    <img src="img/04.png" alt="">
                </div>

                <div class="img3">
                    <img src="img/01.png" alt="">

                </div>

                <div class="img4">
                    <img src="img/02.png" alt="">
                </div>

                <div class="main-line4">
                    <div class="vl4">

                    </div>
                </div>
            </div>

            <div class="word-container3">
                <ul>
                    <li>
                        <div class="word1">
                            <h1>15 Programmble controls</h1>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure soluta fuga error, minus
                                vel
                                ipsam quas
                                quaerat laboriosam quam tempore assumenda aut praesentium nemo! Ad labore eligendi
                                ducimus
                                sit
                                rerum.</p>
                        </div>
                    </li>



                    <li>
                        <div class="word2">
                            <h1>Dual connecivity with lightspeed</h1>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero pariatur impedit inventore
                                ducimus
                                porro. Soluta, animi voluptas commodi mollitia facere dolores, alias similique
                                reprehenderit
                                dicta
                                quo amet ex a pariatur.</p>
                        </div>
                    </li>

                    <li>
                        <div class="word3">
                            <h1>Hero 16k sensor</h1>

                            <p>
                                One click lets you toggle between ultra-fast 1ms LIGHTSPEED wireless and
                                bluetooth&reg;-even across two separate machines.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="word4">
                            <h1>Spin .Ratchet. Switch</h1>

                            <p>A durable metal scroll wheel switches between hyper-fast and ratched scrolling. Fly
                                through menus, rachet through weapon and spell selections, or apply keybinds to up and
                                down inputs.</p>
                        </div>
                    </li>
                </ul>


            </div>
        </div>

        <div style="width: fit-content; margin: auto;" class="green-btn-container">
            <a class="green-btn" href="">
                <button style="padding: 15px 70px;">
                    BUY NOW
                </button>
            </a>
        </div>

    </section>

    <section id="specifciatons" class="fixed-padding">
        <div class="title2">
            <h1>Specifciatons</h1>
        </div>

        <div class="word-container4">
            <div class="first-list">
                <h1 class="title3">Physical Specifciatons</h1>

                <ul>
                    <li>
                        <b>Width:</b> 80 Mm
                    </li>
                    <li>
                        <b>Height:</b> 130 Mm
                    </li>
                    <li>
                        <b>Depth:</b> 45 Mm
                    </li>
                    <li>
                        <b>Weight:</b> 135 G, <br>
                        <p>With AA Battery</p>
                    </li>
                </ul>



                <ul>
                    <h1>Tracking</h1>
                    <li>
                        <b>Sensor:</b>HERO&trade;16K
                    </li>

                    <li>
                        <b>Resoluation:</b> 100-16,000 DPI <br>
                        <p>Zero Smoothing/Accelration/Filtring</p>
                    </li>

                    <li>
                        <b>Max.Accelration:</b> > 40G
                    </li>

                    <li>
                        <b>Max.speed:</b> > 400 IPS <br>
                        <p>Responsive</p>
                    </li>

                    <li><b>USB Data Format:</b> <br>
                        <p>16 Bits/Axis</p>
                    </li>
                </ul>
            </div>

            <div class="sec-list">
                <h1 class="title3">Technical Specifciatons</h1>

                <ul>
                    <li>
                        <b>LIGHTSPEED Wirless report rate:</b> 1000 Hz (1ms)
                    </li>
                    <li>
                        <b>Bluetooth® report rate:</b> 88-133 Hz (7.5-11.25 ms)
                    </li>
                    <li>
                        <b>Microprosser:</b> 32-bit ARM Durabitily
                    </li>
                    <li>
                        <b>PTFE Feet:</b> 250-km range
                    </li>
                </ul>

                <ul>
                    <h1>Battery life</h1>
                    <li>
                        <b>LIGHTSPEED mode:</b>up to 240hours (non-stop gaming)
                    </li>

                    <li>
                        <b>Bluetooth® mode:</b> up to 5.5 months (standrad usage)<br>
                    </li>
                </ul>
            </div>


            <div class="third-list">
                <h1 class="title3">Other Features</h1>

                <ul>
                    <h1>Requriments</h1>
                    <li>
                        <b>LIGHTSPEED Mode:</b> USB Port and Windows7® <br>
                        Or later, MacOS® 10.12 Or later, Chrome OS&trade; <br>
                        Or Android&trade; 3.2 Or later
                    </li>
                    <li>
                        <b>Bluetooth® Mode:</b> Bluetooth®-Enabled Device
                        Or later, MacOS® 10.12 Or later, Chrome OS&trade; <br>
                        Or Android&trade; 5.0 Or later
                        Internet Access For Logitech G HUB Software
                        Download
                    </li>
                </ul>

                <div class="main-line5">
                    <div class="vl5">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="footer">
            <div class="top">
                <a href="#home">
                    <p><i class="fa-light fa-arrow-up-long" style="color: #ffffff;"></i> TO THE TOP</p>
                </a>
            </div>

            <div class="footer-center">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#products">Product</a>
                    </li>
                    <li>
                        <a href="#specifciatons">Specifciatons</a>
                    </li>
                </ul>

                <div class="icons">
                    <ul>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-vk" style="color: #2e7bff;"></i>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa-brands fa-facebook" style="color: #2e7bff;"></i>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa-brands fa-twitter" style="color: #2e7bff;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


</body>

</html>