<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/7691124266.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <!-- Nav Bar -->
    <div class="nav-bar">
        <a href="#home">HOME</a>
        <a href="#about"><img width="20px" src="imgs and icons/icons8-person-64.png" alt="">ABOUT</a>
        <a href="#portfolio"><i class="fa-solid fa-grip" style="color: #000000; width: 20px;"></i>PORTFOLIO</a>
        <a href="#contact"><img src="imgs and icons/icons8-email-20.png" width="17px">CONTACT</a>
    </div>

    <!-- Header -->

    <div id="home" class="header">

        <h1>MY WEBSITE LOGO</h1>
    </div>


    <div id="about" class="main">
        <div class="about-section">

            <h1 class="about-head">ABOUT ME</h1>

            <h4 class="about-head2">I love photography</h4>

            <p>
                We have created a fictional "personal" website/blog, and our fictional character is a hobby
                photographer. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
                sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>


            <div>
                <p class="my-name"><b><i class="fa-solid fa-user fa-xs" style="color: #777777;"></i>My Name</b></p>

                <div class="aside">
                    <p>
                        Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat
                        nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id
                        est laborum
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>


                <img src="imgs and icons/avatar_hat.jpg" alt="">
            </div>

            <div class="really-section">
                <h2>am really good at:</h2>

                <p><i class="fa-solid fa-camera" style="color: #777777;"></i>Photography</p>

                <div class="backg-border-1">
                    <div class="p-border-1">
                        90%
                    </div>
                </div>


                <p><i class="fa-solid fa-laptop" style="color: #777777;"></i>Web Design</p>

                <div class="backg-border-2">
                    <div class="p-border-2">
                        85%
                    </div>
                </div>

                <p><i class="fa-solid fa-image" style="color: #777777;"></i>Photoshop</p>

                <div class="backg-border-3">
                    <div class="p-border-3">
                        75%
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="things-done">
            <div style="font-size: 20px;  padding-top: 15px;">
                <span>14+</span>
                <span>55+</span>
                <span>89+</span>
                <span>150+</span>
            </div>

            <br>

            <div style=" font-size: 16px;">
                <span>Partners</span>
                <span>Projects Done</span>
                <span>Happy Clients</span>
                <span>Meetings</span>
            </div>
        </div>

        <div id="portfolio" class="portfolio">

            <h1>PORTFOLIO</h1>

        </div>

        <div>
            <h1 class="about-head">MY WORK</h1>

            <h4 class="about-head2">Here are some of my latest lorem work ipsum tipsum.</h4>
            <h4 class="about-head2">Click on the images to make them bigger</h4>

        </div>

        <div class="pictures">
            <a href="hyper link imgs/img-1.html"><img src="imgs and icons/p1.jpg" width="200px" alt=""></a>
            <a href="hyper link imgs/img-2.html"><img src="imgs and icons/p2.jpg" width="200px" alt=""></a>
            <a href="hyper link imgs/img-3.html"><img src="imgs and icons/p3.jpg" width="200px" alt=""></a>
            <a href="hyper link imgs/img-4.html"><img src="imgs and icons/p4.jpg" width="200px" alt=""></a>
        </div>

        <div class="pictures-2">
            <a href="hyper link imgs/img-5.html"><img src="imgs and icons/p5.jpg" width="200px" alt=""></a>
            <a href="hyper link imgs/img-6.html"><img src="imgs and icons/p6.jpg" width="200px" alt=""></a>
            <a href="hyper link imgs/img-7.html"><img src="imgs and icons/p7.jpg" width="200px" alt=""></a>
            <a href="hyper link imgs/img-8.html"><img src="imgs and icons/p8.jpg" width="200px" alt=""></a>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="contact" class="contact-image">
        <h1>CONTACT</h1>
    </div>

    <div class="contact">

        <h1 class="about-head">WHERE I WORK</h1>

        <h4 class="about-head2">I'd love your feedback!</h4>

        <img src="imgs and icons/map.jpg" width="600" alt="">

        <div class="span-margin">
            <p><i class="fa-solid fa-location-dot" style="color: #777777;"></i>Chicago, US</p>
            <br>
            <p><i class="fa-solid fa-phone" style="color: #777777;"></i>Phone: +00 151515</p>
            <br>
            <p><i class="fa-solid fa-envelope" style="color: #777777;"></i>Email: mail@mail.com</p>
            <br>
            <p>Swing by for a cup of <i class="fa-solid fa-mug-hot" style="color: #777777;"></i> , or leave me a note:</p>
        </div>

        <br>

        <div class="inputs">
            <form action="" method="post">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Email" required>
                <br>
                <br>
                <input class="big-input" type="text" placeholder="Message">
                <br>
                <br>
                <button type="submit"><i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i> SEND
                    MESSAGE</button>

            </form>
        </div>

    </div>

    <br>
    <br>
    <br>

    <div class="footer">
        <div class="top">
            <a href="#home"><i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i>To the top</a>
        </div>
        <div class="icons">
            <i class="fa-brands fa-facebook" style="color: #000000;"></i>
            <i class="fa-brands fa-twitter" style="color: #000000;"></i>
            <i class="fa-brands fa-discord" style="color: #000000;"></i>
            <i class="fa-brands fa-instagram" style="color: #000000;"></i>
            <i class="fa-brands fa-square-snapchat" style="color: #000000;"></i>
        </div>
        <p>Powerd by <a style="text-decoration: underline;" href="https://www.w3schools.com/">w3.css</a></p>
    </div>






</body>

</html>