<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7691124266.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="x">
        <a href="../index.html"><i class="fa-solid fa-xmark" style="color: #ff0000; font-size: 50px;"></i></a>
    </div>
    <div class="img">
        
        <img src="../imgs and icons/p6.jpg" alt="">
        <p>My beloved typewriter</p>
    </div>
</body>

</html>